.searchResultsRow {
  border: 1px solid grey;
  height: 50px;
  text-align: center;
}

.searchResults {
  display: inline;
  text-align: center;
  margin-top: 10px;
}

.taskName {
  width: 200px;
  margin: 0px 10px 0px 0px;
  padding: 0;
  display: inline;
}

.taskCheckBox {
  margin-top: 15px;
  width: 20px;
  height: 18px;
}
